<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timmy">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TimmyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".project.launch.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".project.launch.WelcomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".home.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="首页"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".other.TechnologyPointActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Android技术点"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".technologypoint.AutoPlayPicturesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自动轮播图"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".technologypoint.CameraPictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera_picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.animation.AnimationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_animation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".technologypoint.GlideImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Glide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".technologypoint.ClipToOutlineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="setClipToOutline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".technologypoint.DialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Dialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".other.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="关于"
            android:screenOrientation="portrait" />
        <activity
            android:name=".technologypoint.TimmyHealthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义View"
            android:screenOrientation="portrait" />
        <activity
            android:name=".technologypoint.RecycleHeaderViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="RecycleHeaderViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".technologypoint.ToolBarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="ToolBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".technologypoint.CoordinatorLayoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="CoordinatorLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.AdvanceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="鸿神进阶之路"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.slideList.FollowSlideListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="高仿腾讯ListView滑动删除"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.dialog.DialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogTopRight" />
        <activity
            android:name=".advance.win8metro.FollowWin8Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="高仿Win8效果点击界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.viewpager.ViewPagerIndicatiorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="ViewPager指示器"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.scrollVertical.VerticalScrollActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Android自定义ViewGroup实现竖向引导界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customView.MyToggleButtonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义View(一)开关按钮"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.waterRipple.WaterRippleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="定义View(二)水波纹效果"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customViewGroup.CustomViewPagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义ViewPager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.screenAdapter.ImageAdapterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="图片适配ImagerView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.citySelect.CitySelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="城市列表选择"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.citySelect.HotCityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="城市列表选择--带热门城市"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customView.VerificationCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义View(五)--随机数验证码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customView.TextImageViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义View(六)--带文字的图片"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customView.RingViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义View(七)--圆环交替"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customView.VolumeViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义View(八)--音量控件"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customView.CustomImageViewActicity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义View(九)--带圆角ImageView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customViewGroup.ArcMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义ViewGroup--圆形菜单"
            android:screenOrientation="portrait" />
        <activity
            android:name=".highUI.stretchList.ReboundScrollViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="反弹ScrollView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.viewpager.AnimationViewPagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="不一样的ViewPager滑动效果"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customViewGroup.GestureLockViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="应用手势锁"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.animation.RubberIndicatiorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义动画指示器-RubberIndicatior"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customViewGroup.FlowLayoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="流式布局"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customViewGroup.AdapterScrollViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="自定义ScrollView--显示完成内部的ItemView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".highUI.motionEvent.MotionEventActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="从源码分析事件分发机制"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customView.FloatWindowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="悬浮窗-随手指移动"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customViewGroup.DragViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="可拖拽控件"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.AdvertisementActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="3秒倒计时广告位"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.NextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="下个界面"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advance.customView.XiuViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="支付宝咻一咻"
            android:screenOrientation="portrait" />
        <activity
            android:name=".highUI.stretchList.StretchListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="可伸缩头部ListView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".highUI.recyclerview.RecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="RecyclerView使用"
            android:screenOrientation="portrait" />
        <activity
            android:name=".highUI.collapsingToolbarLayout.CollapsingToolbarLayoutActivity"
            android:label="CollapsingToolbarLayout的使用" />
        <activity
            android:name=".highUI.recyclerview.autoPoll.AutoPollRecyclerActivity"
            android:label="自动轮询的ReyclerView" />
        <activity
            android:name=".highUI.drawerLayout.DrawerLayoutActivity"
            android:label="MD侧滑" />
        <activity
            android:name=".technologypoint.Picture9Activity"
            android:label=".9图片处理" />
        <activity
            android:name=".highUI.drawerLayout.NavigationViewActivity"
            android:label="@string/navigation" />
        <activity
            android:name=".highUI.drawerLayout.NavigationDemoActivity"
            android:label="@string/title_activity_navigation_demo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".highUI.snackBar.SnackBarActivity"
            android:label="SnackBar" />
        <activity
            android:name=".highUI.textInputLayout.TextInputLayoutActivity"
            android:label="用户登录" />
        <activity
            android:name=".highUI.toolbar.ToolbarActivity"
            android:label="TollobarActivity"
            android:theme="@style/AppToolbarTheme" />
        <activity android:name=".highUI.searchView.SearchViewActivity" />
        <activity
            android:name=".highUI.linearLayoutCompat.LinearLayoutCompatActivity"
            android:label="LinearLayoutCompat解析" />
        <activity
            android:name=".project.svg.SVGActivity"
            android:label="SVG-5.0以上" />
        <activity
            android:name=".project.svg.SVGMergeActivity"
            android:label="兼容5.0以下版本" />
        <activity
            android:name=".highUI.tabLayout.TabLayoutActivity"
            android:label="TabLayout源码解析" />
        <activity
            android:name=".highUI.palette.PaletteActivity"
            android:label="Palette调色板" />
        <activity
            android:name=".highUI.cardView.CardViewActivity"
            android:label="CardView的使用" />
        <activity android:name=".highUI.coordinatorLayout.CoordinatorLayoutActivity2" />
        <activity android:name=".highUI.coordinatorLayout.CoordinatorLayoutActivity3" />
        <activity
            android:name=".highUI.animatoion.ViewAnimationActivity"
            android:label="View Animation" />
        <activity
            android:name=".highUI.animatoion.FrameAnimationActivity"
            android:label="帧动画" />
        <activity
            android:name=".highUI.animatoion.PropertyAnimationActivity"
            android:label="属性动画" />
        <activity
            android:name=".project.inflate.InflateActivity"
            android:label="inflate方法详解" />
        <activity
            android:name=".highUI.motionEvent.nest.ScrollListViewActivity"
            android:label="ScrollView嵌套ListView" />
        <activity
            android:name=".highUI.recyclerview.wrapRecyclerView.WrapRecyclerViewActivity"
            android:label="添加头部和尾部的封装RecyclerView" />
        <activity
            android:name=".customeView.clockView.ClockViewActivity"
            android:label="ClockView" />
        <activity android:name=".highUI.coordinatorLayout.behavior.CustomeBehaviorActivity" />
        <activity
            android:name=".highUI.coordinatorLayout.behavior.zhihuHome.ZhihuHomeActivity"
            android:label="高仿知乎首页" />
        <activity
            android:name=".highUI.coordinatorLayout.behavior.baiduMap.BaiduMapBehaviorActivity"
            android:label="高仿百度地图界面" />
        <activity
            android:name=".customeView.hotTag.HotTagActivity"
            android:label="热门标签" />
        <activity
            android:name=".customeView.letterNavigation.LetterNavigationActivity"
            android:label="字母导航栏" />
        <activity
            android:name=".customeView.notePad.NotePadActivity"
            android:label="NotePad" />
        <activity
            android:name=".highUI.path.PathUseActicity"
            android:label="Path高级使用" />
        <activity
            android:name=".highUI.shader.ShaderUseActicity"
            android:label="高级渲染" />
        <activity
            android:name=".highUI.animatoion.TranstionAnimationActivity"
            android:label="转场动画" />
        <activity android:name=".highUI.animatoion.TranAnimActivityB" />
        <activity
            android:name=".highUI.toast.ToastActivity"
            android:label="Toast源码解析" />
        <activity
            android:name=".project.aidlBinder.AIDLActivity"
            android:label="AIDL学习" />
        <activity
            android:name=".project.service.ServiceActivity"
            android:label="Service详解" />

        <service
            android:name=".project.service.DemoServiceA"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".project.service.DemoIntentService"
            android:exported="false" />
        <service
            android:name=".project.service.DemoBindServiceB"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".project.aidlBinder.LocalService"
            android:exported="true">
            <intent-filter>
                <action android:name="myService" />
            </intent-filter>
        </service>

        <activity android:name=".highUI.motionEvent.qqHome.QQHomeCopyActivity" />
        <activity
            android:name=".highUI.motionEvent.slideDelete.SlideDeleteActivity"
            android:label="滑动删除" />
        <activity
            android:name=".highUI.motionEvent.slideConflict.SlideConflictActivity"
            android:label="滑动冲突" />
        <activity
            android:name=".customeView.myViewPager.MyViewPagerActivity"
            android:label="MyViewPager" />
        <activity android:name=".customeView.myIndicator.MyIndicatorActivity" />
        <activity
            android:name=".customeView.guaguaWinning.GuaGuaWinningActivity"
            android:label="刮刮乐效果" />
    </application>

</manifest>